@charset "UTF-8";
/* CSS Document */


/* ---------   Colors   -------- */
/* Background Light Grey = #F2F2F2 */
/* Black / Text Dark Grey  = #2D2D2D */
/* Interaction Mid Grey  = #A1A1A1 */




/* ---------   Fonts   -------- */

@font-face {
  font-family: "Cormorant-Medium";
  src: url("fonts/Cormorant-Medium.woff2") format("woff2"),
       url("fonts/Cormorant-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("fonts/Inter-Medium.woff2") format("woff2"),
       url("fonts/Inter-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Light";
  src: url("fonts/Inter-Light.woff2") format("woff2"),
       url("fonts/Inter-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}





/* ---------   Base   -------- */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2D2D2D;
}
body {
  margin: 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  cursor: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}





/* ---------   Typography   -------- */

.logo {
  font-family: 'Cormorant-Medium';
  font-size: 22px;
  margin-bottom: 3vh;
  text-align: left;
}
span {
  font-family: 'Inter-Medium';
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}

.large {
  font-family: 'Cormorant-Medium';
  font-size: 30px;
  margin-bottom: 2vh;
}
      @media (min-width: 500px) {
        .large {
          font-size: 5vw;
        }
      }
      @media (min-width: 1400px) {
        .large {
          font-size: 65px;
        }
      }
      div a {
        text-decoration: none;
      }

.medium {
  font-family: 'Inter-Light';
  font-size: 18px;
  margin-bottom: 2vh;
}
      @media (min-width: 500px) {
        .medium {
          font-size: 3vw;
        }
      }
      @media (min-width: 1400px) {
        .medium {
          font-size: 40px;
        }
      }


.small {
  font-family: 'Inter-Light';
  font-size: 16px;
}
      @media (min-width: 500px) {
        .small {
          font-size: 1.6vw;
        }
      }
      @media (min-width: 1400px) {
        .small {
          font-size: 20px;
        }
      }


.medium a, .small a {
  text-decoration: underline;
}
.headline {
  font-family: 'Inter-Medium';
  font-weight: normal;
}


.experience {
  font-family: 'Cormorant-Medium';
  font-size: 40px;
}
      @media (min-width: 500px) {
        .experience {
          font-size: 7vw;
        }
      }
      @media (min-width: 1400px) {
        .experience {
          font-size: 100px;
        }
      }
      .experience > a {
        text-decoration: none;
      }


a {
  color: #fff;
}
a:hover {
  color: #A1A1A1;
  cursor: none;
}





/* ---------   Structure   -------- */

.container {
  padding-left: 6%;
  padding-right: 6%;
  overflow-x: hidden;
}
      @media (min-width: 500px) {
        .container {
          padding-left: 10%;
          padding-right: 10%;
        }
      }
      @media (min-width: 1400px) {
        .container {
          /* max-width: 1050px; <--- this line sets a max width for large design. But it create a left-alignment bug.*/
          padding-left: 15%;
          padding-right: 15%;
        }
      }


/* ---   Header   --- */
.header {
  margin-top: 20vh;
  margin-bottom: 15vh;
  z-index: -100;
}
    .box-left {
      padding-right: 22%;
    }
    .box-right {
      padding-left: 35%;
    }
    @media (max-width: 500px) {
      .box-left {
        padding-right: 10%;
      }
      .box-right {
        padding-left: 18%;
      }
    }
    @media (min-width: 1400px) {
      .box-right {
        padding-left: 40%;
      }
    }


/* ---   Explore   --- */
.explore {
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 100;
  position: relative;
}
.experience a:hover {
  color: #fff;
  opacity: .5;
}


/* ---   Make a difference   --- */
.difference {
  padding-top: 10vh;
  z-index: -100;
}
.difference-wrapper {
  margin-bottom: 2.5vh;
  margin-top: 5vh;
}
.difference-wrapper > .large {
  margin-bottom: 1vh;
}
#e1, #e2, #e3 {
  text-decoration: none;
}
.difference-wrapper > a:hover .arrow {
  opacity: .5;
}
.arrow {
  width: 1.3em;
}


/* ---   Footer   --- */
.footer {
  margin-top: 20vh;
  padding-bottom: 5vh;
}




/* ---------   Cursor   -------- */

.circle {
  pointer-events: none;
	position: absolute;
  border: solid 2px #fff;
	width: 20px;
	height: 20px;
  border-radius: 50%;
  z-index: 1000;
}
a:hover .circle {
  background: #fff;
}
@media (max-width: 500px) {
  .circle {
    display: none;
  }
  body, a:hover {
    cursor: auto;
  }
}




/* ---------   Heatmap   -------- */

#canvas {
  width: 100%;
  height: 350%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}




/* ---------   BG   -------- */

#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-image: ;
  pointer-events: none;
}
@media (max-width: 500px) {
  .mobile-card {
    background-image: url("images/bg1.png");
    background-size: cover;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  .explore {
    margin-left: -10vw;
    margin-right: -10vw;
  }
  .m-e1 {
    background-image: url("images/bg1.png");
  }
  .m-e2 {
    background-image: url("images/bg2.png");
  }
  .m-e3 {
    background-image: url("images/bg3.png");
  }
  #bg {
    display: none;
  }
}
