@charset "UTF-8";
/* CSS Document */


/* ---------   Colors   -------- */
/* Background Light Grey = #F2F2F2 */
/* Black / Text Dark Grey  = #2D2D2D */
/* Interaction Mid Grey  = #A1A1A1 */




/* ---------   Fonts   -------- */

@font-face {
  font-family: "Cormorant-Medium";
  src: url("fonts/Cormorant-Medium.woff2") format("woff2"),
       url("fonts/Cormorant-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("fonts/Inter-Medium.woff2") format("woff2"),
       url("fonts/Inter-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}





/* ---------   Text   -------- */

body {
  background-color: #F2F2F2;
}
body {
  margin: 0;
  color: #2d2d2d;
  font-family: 'Inter-Medium';
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 15px;
  overflow-x: hidden;
}
      @media (min-width: 500px) {
        body {
          font-size: 2vw;
        }
      }
      @media (min-width: 1400px) {
        body {
          font-size: 24px;
        }
      }

/* Usage Notes */
/* Use 'Large' on H1's and Quotes */
.x-large {
  font-family: 'Cormorant-Medium';
  font-size: 32px;
}
      @media (min-width: 500px) {
        .x-large {
          font-size: 4.5vw;
        }
      }
      @media (min-width: 1400px) {
        .x-large {
          font-size: 70px;
        }
      }

.large, .quote {
  font-family: 'Cormorant-Medium';
  font-size: 24px;
}
      @media (min-width: 500px) {
        .large, .quote {
          font-size: 3.5vw;
        }
      }
      @media (min-width: 1400px) {
        .large, .quote {
          font-size: 54px;
        }
      }


.small {
  font-family: 'Inter-Medium';
  font-size: 16px;
}
      @media (min-width: 500px) {
        .small {
          font-size: 1vw;
        }
      }
      @media (min-width: 1400px) {
        .small {
          font-size: 18px;
        }
      }

a {
  color: #2d2d2d;
}
a:hover {
  color: #A1A1A1;
}
.small a {
  color: #A1A1A1;
}
.small a:hover {
  color: #2d2d2d;
}

/* Usage Notes */
/* Use 'White' on the 'Quote' div */
.white {
  color: #f2f2f2;
}
.fade {
  color: #a1a1a1;
}

/* Usage Notes */
/* Use 'Span' to add emphasis to text */
span {
  font-family: 'Inter-Medium';
}

img {width: 100%}






/* ---------   Structure   -------- */

.container {
  padding-left: 6%;
  padding-right: 6%;
  overflow-x: visible;
}
      @media (min-width: 500px) {
        .container {
          padding-left: 12%;
          padding-right: 12%;
        }
      }
      @media (min-width: 1400px) {
        .container {
          padding-left: 20%;
          padding-right: 20%;
        }
      }
.particles {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

.text-super {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-super-2nd {
  padding-bottom: 7vw;
}
.header {
  padding-top: 3vw;
  padding-bottom: 2vw;
}
.projects {
  padding-bottom: 7vw;
}
.change {
  padding-top: 3vw;
  padding-bottom: 10vw;
    overflow-x: visible;
}
.footer {
  padding-bottom: 2vw;
}


.project {
  margin-bottom: 3vw;
  padding-top: 8vw;
  padding-bottom: 8vw;
  text-align: center;
  background-position: center center;
  background-size: 100%;
  transition: 1s;
  background-size: cover;
}
.project:hover {
  background-position: center center;
  transition: 1s;
  text-decoration: underline;
}
.project-link {
  text-decoration: none;
  color: #fff;
}
.project-link:hover {
  color: #fff;
}
.quote {
  position: absolute;
  z-index: -100;
  top: 50%;
  left: 50%;
  width: 80%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity: 1;
  transition: 3s;
}
.opacity {
  opacity: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}









/* ---------   Navigation   -------- */

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  margin: 15px;
  z-index: 100;
}
.icon-wrapper:hover {
  opacity: .5;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-home {
  background-image: url('../MicroClimates/images/home.svg');
}







/* ---------   Paper.js Canvas   -------- */

canvas[resize] {
    width: 100%;
    height: 100%;
}
#climateCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/* ---------   Mobile / Desktop Into   -------- */

.hide-mobile {
  display: none;
}
      @media (min-width: 1025px) {
        .hide-mobile {
          display: block;
        }
      }

@media (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}


/* ---------   Carousel   -------- */


.flickity-viewport {
  overflow: visible!important;
}

.main-carousel {
  width: 100%;
}

.carousel-cell {
  width: 500px;
  margin-right: 10px;
  background: #fff;
  border-radius: 5px;
}
